@import url('https://fonts.googleapis.com/css?family=Lobster|Mukta|Pacifico|Satisfy|Srisakdi|ZCOOL+XiaoWei');

body {
  background: url('./public/books_1.jpg') no-repeat !important;
  background-color: rgba(0,0,0, 0.4);
  background-size: 100% 100%;
} 

.container {
  
}

#root {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: relative;
  top: 5%;
  margin: auto;
  /*transform: translate(-50%, -50%);*/
  z-index: 2;
  width: 80%;
  height: 90%;
  padding: 20px;
  text-align: center;
  overflow-y: scroll;
}

#search_bar {
  /*background-color: rgba(0,0,0,0);*/
  font-size: 15px;
}

#singlebook-grid-left.column {
  background-color: rgba(0,0,0,0);
  /*width: 35%;*/
}

#singlebook-grid-right.column {
  /*background: url('./public/paper_2.jpg') ;*/
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  opacity: .8; 
  padding: 20px;
  box-shadow: 0 0 100px 25px rgba(0,0,0,0.8) inset;
  /*width: 65%;*/
}

#singlebook-bkcover {
  width: 200px;
  margin: 20px auto 0 auto;
}

#singlebook-title {
  margin-top: 15px;
  color: white;
  font-family: 'ZCOOL XiaoWei';
}

#singlebook-discription {
  font-family: 'ZCOOL XiaoWei';
}

#singlebook-author {
  font-family: 'Satisfy';
  text-align: center;
  margin: 15px auto 0px auto;
}

#singlebook-rating {
  text-align: center;
  margin: 15px auto 0px auto;
}